#===============================================================================
# .gitattributes
#
# Documentation:
#   https://git-scm.com/docs/gitattributes
#
#===============================================================================


#-------------------------------------------------------------------------------
#  UPSTREAM: daniel-templates/template_project
#-------------------------------------------------------------------------------

# Force Unix-style line endings (\n) for all text files except certain
#   Windows-specific filetypes (\r\n)
* text=auto eol=lf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{reg,[iI][nN][fF]} text eol=crlf


#-------------------------------------------------------------------------------
#  UPSTREAM: (this project)
#-------------------------------------------------------------------------------


