#===============================================================================
# .gitattributes
#
# Git settings for specific file types
#
# Documentation:
#   https://git-scm.com/docs/gitattributes
#
#===============================================================================


#-------------------------------------------------------------------------------
#  UPSTREAM: daniel-templates/template-project
#-------------------------------------------------------------------------------

# Force Unix-style line endings (\n) for all text files except certain Windows-specific filetypes (\r\n)
# Also add to .vscode/settings.all.json to enforce correct line endings during development.
* text=auto eol=lf
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.inf   text eol=crlf
*.reg   text eol=crlf

# Set certain filetypes as binary, not text
*.pdf   -text


#-------------------------------------------------------------------------------
#  UPSTREAM: (this project)
#-------------------------------------------------------------------------------


