#===============================================================================
# .gitattributes
#
# Git settings for specific file types
#
# Documentation:
#   https://git-scm.com/docs/gitattributes
#
#===============================================================================


#-------------------------------------------------------------------------------
#  UPSTREAM: daniel-templates/template-project
#-------------------------------------------------------------------------------

# Force Unix-style line endings (\n) for all text files except certain Windows-specific filetypes (\r\n)
# Also add to .vscode/settings.all.json to enforce correct line endings during development.
* text=auto       eol=lf     working-tree-encoding=UTF-8
*.bat   text diff eol=crlf   working-tree-encoding=CP437
*.cmd   text diff eol=crlf   working-tree-encoding=CP437
*.inf   text diff eol=crlf   working-tree-encoding=UTF-16LE-BOM
*.reg   text diff eol=crlf   working-tree-encoding=UTF-16LE-BOM
*.admx  text diff eol=crlf   working-tree-encoding=UTF-8
*.adml  text diff eol=crlf   working-tree-encoding=UTF-8
*.adm   text diff eol=crlf   working-tree-encoding=UTF-16LE-BOM
*.cmtx  text diff eol=crlf   working-tree-encoding=UTF-8-BOM
*.pol   text diff eol=crlf   working-tree-encoding=UTF-16LE-BOM

# Set certain unrecognized filetypes as text to allow git diffs
*.csv   text diff
*.tsv   text diff
*.xml   text diff
*.yml   text diff

# Set certain filetypes as binary, not text; no diff is performed
*.docx  binary      # Microsoft Office
*.docm  binary
*.dotx  binary
*.dotm  binary
*.xlsx  binary
*.xlsm  binary
*.xlsb  binary
*.xltx  binary
*.xltm  binary
*.pptx  binary
*.pptm  binary
*.potx  binary
*.potm  binary
*.ppsx  binary
*.ppsm  binary
*.pub   binary
*.odt   binary      # OpenDocument
*.ods   binary
*.odp   binary
*.sxw   binary      # OpenOffice.org
*.sxc   binary
*.sxi   binary
*.pdf   binary      # Portable Document Format
*.jpg   binary      # Photo
*.jpeg  binary
*.png   binary
*.tif   binary
*.tiff  binary
*.gif   binary
*.bmp   binary
*.raw   binary
*.wav   binary      # Audio
*.mp3   binary
*.ogg   binary
*.mp4   binary      # Video
*.wmv   binary
*.exe   binary      # Executable
*.a     binary
*.dll   binary
*.so    binary
*.msi   binary
*.msix  binary
*.msixbundle binary
*.appx  binary
*.appxbundle binary
*.deb   binary
*.snap  binary
*.flatpak binary
*.apk   binary
*.zip   binary      # Compressed
*.7z    binary
*.rar   binary
*.tar   binary
*.gz    binary
*.cab   binary
*.wim   binary
*.swm   binary
*.esd   binary
*.db    binary      # Dataset
*.sql   binary
*.sqlite binary
*.cer   binary      # Certificates
*.iso   binary      # Disk Image
*.cue   binary
*.ovf   binary      # Virtualization
*.ova   binary
*.bin   binary      # Misc
*.map   binary
*.rc    binary

#-------------------------------------------------------------------------------
#  CURRENT PROJECT
#-------------------------------------------------------------------------------


